<?xml version="1.0" encoding="UTF-8"?>
<root>
	<params>
		<param type="text" name="basedownloadpath" default="images" size="25" label="BASE_DOWNLOAD_PATH" description="BASE_DOWNLOAD_PATH_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param type="radio" name="cipherenabled" default="1" label="ENABLE_CIPHER" description="ENABLE_CIPHER_DESC">
			<option value="1">LANG_YES</option>
			<option value="0">LANG_NO</option>
		</param>
		<param type="radio" name="log_downloads" default="0" label="LOG_DOWNLOADS" description="LOG_DOWNLOADS_DESC">
			<option value="1">LANG_YES</option>
			<option value="0">LANG_NO</option>
		</param>
		<param type="text" name="cipherfile" default="components/com_simpledownload/helpers/encryption.php" size="25" label="CIPHER_FILE" description="CIPHER_FILE_DESC" />
		<param type="text" name="cipherfunction" default="jcrypt64" size="25" label="CIPHER_FUNCTION" description="CIPHER_FUNCTION_DESC" />
		<param type="text" name="decipherfunction" default="jdecrypt64" size="25" label="DECIPHER_FUNCTION" description="DECIPHER_FUNCTION_DESC" />
		<param name="@spacer" type="spacer" default="" label="Default Messages" description="" />
		<param type="text" name="title_filenotfound" default="File Not Found" size="25" label="FILE_NOT_FOUND_PAGE_TITLE" description="FILE_NOT_FOUND_PAGE_TITLE_DESC" />
		<param type="textarea" name="msg_filenotfound" rows="10" cols="50" default="&lt;h1&gt;File Not Found&lt;/h1&gt;&lt;p&gt;The file you were requesting could not be found.  We're sorry for the inconvenience.&lt;/p&gt;" label="FILE_NOT_FOUND_MESSAGE" description="FILE_NOT_FOUND_MESSAGE_DESC" />
	</params>
</root>